<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerPizzaTest" aria-controls="#navbarTogglerPizzaTest"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Great Pizza Test</a>
    <div class="collapse navbar-collapse" id="navbarTogglerPizzaTest">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="modules/pizza" routerLinkActive="active">Pizzas </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="modules/topping" routerLinkActive="active">Toppings </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="modules/pizzaTopping" routerLinkActive="active">Toppings For Pizza </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fa fa-medium" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=""><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
